# Required
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""
AZURE_TENANT_ID=""
KEYVAULT_NAME=""
KEYVAULT_SECRET_NAME=""
GITHUB_TOKEN=""
GITHUB_ENTERPRISE=""

# Optional
LOG_LEVEL=INFO
REQUEST_TIMEOUT=10
MAX_RETRIES=3
